
.evo_c-minimalist-carousel__img {
  position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: auto;
    opacity: 0;
    z-index: 1;

  -webkit-transition: opacity .5s ease-in-out;
  -moz-transition: opacity .5s ease-in-out;
  -o-transition: opacity .5s ease-in-out;
  transition: opacity .5s ease-in-out;
}

.evo_c-minimalist-carousel__img--showing {
    opacity: 1;
    z-index: 2;
}

.image-wrapper--ol {
  margin: 0;
}

#image-number {
  color: white;
  height: 45px;
  width: 50px;
  position: absolute;
  z-index: 10;
  top: 5px;
  right: 0px;
  font-size: 3em;
  font-family: 'Roboto', sans-serif;
  text-align: center;

}

.container {
    position: relative;
    height: 400px;
    max-width: 30%;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}


.number {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;
  outline: none;
}


.firstlines {
  position: absolute;
  right: 7px;
  top: 6.5px;
  width: 45px;
  height: 40px;
  border-left: 1px solid rgba(255, 255, 255, .25);
  border-bottom: 1px solid rgba(255, 255, 255, .25);
  z-index: 1;
}

.secondlines {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 45px;
  height: 40px;
  border-left: 1px solid rgba(255, 255, 255, .25);
  border-bottom: 1px solid rgba(255, 255, 255, .25);
}

.next-button {
  position: absolute;
  right: 0;
  top: 0;
  padding: 5px;
  width: 50px;
  height: 45px;
  text-align: center;
  color: rgba(255, 255, 255, .65);
  font-size: 2em;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: transparent;
  filter: alpha(opacity=65);
  opacity: 0.65;
    background-color: rgba(255, 255, 255, .65); /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(top right, transparent, rgba(255, 255, 255, .65)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(top right, transparent, rgba(255, 255, 255, .65)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(top right, transparent, rgba(255, 255, 255, .65)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(top right, transparent, rgba(255, 255, 255, .65)); /* Standard syntax */
}

.previous-button{
  position: absolute;
  right: 0;
  top: 50px;
  width: 50px;
  height: 25px;
  border: none;
  outline: none;
  background-color: transparent;
  filter: alpha(opacity=55);
  opacity: 0.55;  
      background-color: rgba(255, 255, 255, .45); /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(top right, transparent, rgba(255, 255, 255, .45)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(top right, transparent, rgba(255, 255, 255, .45)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(top right, transparent, rgba(255, 255, 255, .45)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(top right, transparent, rgba(255, 255, 255, .45)); /* Standard syntax */
}

.controls:hover {
  cursor: pointer;
}

.buttons {
  position: absolute;
  width: 80px;
  height: 80px;
  right: 0px;
  z-index: 10;
  font-size: 5px;
}

#previous {
  visibility: hidden;
}


.back-arrow {
  text-align: center;
  width: 25px;
  height: 25px;
  filter: alpha(opacity=60);
  opacity: 0.60;   
}


.forward-arrow {
  position: absolute;
  right: 2px;
  top: 4px;
  width: 15px;
  height: 15px;
  background-color: transparent;
  filter: alpha(opacity=90);
  opacity: 0.90;   
}

.firstlines {
  position: absolute;
  right: 7px;
  top: 6.5px;
  width: 45px;
  height: 40px;
  border-left: 1px solid rgba(255, 255, 255, .25);
  border-bottom: 1px solid rgba(255, 255, 255, .25);
  z-index: 1;
}

.secondlines {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 45px;
  height: 40px;
  border-left: 1px solid rgba(255, 255, 255, .25);
  border-bottom: 1px solid rgba(255, 255, 255, .25);
}



